.discover {
  &-container {
    p {
      font-family: "Roboto";
      font-size: 18px;
      font-weight: 700;
      line-height: 21.09px;
      letter-spacing: 0.06em;
      text-align: center;
      color: #8A53FF;
    }

    span {
      font-family: "Changa One";
      font-size: 39px;
      font-weight: 400;
      line-height: 40px;
      text-align: center;
    }

  }

  &-content {
    padding: 24px;

  }

  &-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 48px;
    font-size: 39px;

    p {
      margin-bottom: 8px;
    }

  }

  &-location {
    display: flex;

    &-content {
      display: flex;
      flex-direction: column;
      padding: 16px;

      img {
        display: flex;
        width: 100%;
      }

      span {
        font-family: "Changa One";
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        color: #434343;
      }

      p {
        font-size: 16px;
        font-weight: 400;

      }
    }
  }
}