.hero_background {
  width: 100%;
  background-image: url("./../img/hero-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero_background::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #FFFFFF -0.92%, rgba(255, 255, 255, 0) 75.6%);
}
.hero-text {
  justify-content: left;
  font-family: Roboto;
  font-size: 22px;
  color: #434343;
  line-height: 36px;
}
.hero-text span {
  font-family: "Changa One";
  color: #8A53FF;
  font-size: 73px;
  line-height: 1.15;
}
.hero-text p {
  line-height: 1.15;
  font-family: "Changa One";
  font-size: 73px;
  margin-bottom: 12px;
}
.hero-container {
  position: relative;
  z-index: 2;
  padding: 124px 0;
  max-width: 1160px;
  margin: 0 auto;
}
.hero-button {
  margin-top: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.hero-button button {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  color: #ffffff;
  background-color: #8A53FF;
  border-radius: 4px;
  border: none;
  padding: 14px 0;
  width: 165px;
}
.hero-button span {
  margin-left: 10px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  color: #434343;
}
.hero-button span a {
  text-decoration: none;
}
.hero-button img {
  height: 36px;
  width: 36px;
  margin-left: 24px;
}