.recent_stories-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 83px;
  padding-bottom: 30px;
}
.recent_stories-title span {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  color: #8A53FF;
  margin-bottom: 15px;
}
.recent_stories-title p {
  font-family: "Changa One";
  font-size: 39px;
  font-weight: 400;
  line-height: 40px;
  color: #434343;
}
.recent_stories-block {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 83px;
}
.recent_stories-block-left {
  max-width: 600px;
}
.recent_stories-block-left img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}
.recent_stories-block-left-disc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 24px;
  background-color: #F9F9F9;
  border-radius: 0 0 8px 8px;
}
.recent_stories-block-left-disc span {
  font-family: "Changa One";
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #434343;
}
.recent_stories-block-left-disc p {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #576074;
  margin-top: 2px;
}
.recent_stories-block-left-disc img {
  width: 48.87px;
  height: 48px;
}
.recent_stories-block-right {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.recent_stories-block-right-part {
  background-color: #F9F9F9;
  border-radius: 8px;
  padding: 10px 11px;
  margin-bottom: 16px;
  display: flex;
  font-family: "Roboto";
}
.recent_stories-block-right-part-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  color: #576074;
  font-family: "Roboto";
}
.recent_stories-block-right-part-text p {
  display: contents;
  color: #7a47d1;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}
.recent_stories-block-right-part-text span {
  font-family: "Changa One";
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 6px;
  color: #434343;
}
.recent_stories-block-right-part img {
  width: 200px;
}