.recent_stories {
  &-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 83px;
    padding-bottom: 30px;

    span {
      font-family: "Roboto";
      font-size: 18px;
      font-weight: 700;
      line-height: 21.09px;
      color: #8A53FF;
      margin-bottom: 15px;
    }

    p {
      font-family: "Changa One";
      font-size: 39px;
      font-weight: 400;
      line-height: 40px;
      color: #434343;

    }
  }

  &-block {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 83px;


    &-left {
      max-width: 600px;

      img {
        width: 100%;
        height: auto;
        border-radius: 8px 8px 0 0;
        // margin-bottom: 14px;
      }

      &-disc {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 24px;
        background-color: #F9F9F9;
        border-radius: 0 0 8px 8px;

        span {
          font-family: "Changa One";
          font-size: 24px;
          font-weight: 400;
          line-height: 36px;
          color: #434343;
        }

        p {
          font-family: "Roboto";
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          color:#8A53FF;

        }

        img {
          width: 48.87px;
          height: 48px;


        }
      }
    }

    &-right {
      max-width: 600px;
      width: 100%;
      display: flex;
      flex-direction: column;

      &-part {
        background-color: #F9F9F9;
        border-radius: 8px;
        padding: 10px 11px;
        margin-bottom: 16px;
        display: flex;
        font-family: "Roboto";

        &-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 20px;
          color: #576074;
          font-family: "Roboto";


          p {
            display: contents;
            color: #7a47d1;
            font-family: "Roboto";
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;
          }

          span {
            font-family: "Changa One";
            font-size: 24px;
            font-weight: 400;
            line-height: 36px;
            margin-bottom: 6px;
            color: #434343;
          }
        }

        img {
          width: 200px;
        }
      }

    }
  }
}