.share_travel {
  &-background {
    background: url(../img/ShareYourTravelBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;

  }

  &-form {
    max-width: 617px;
    width: 100%;
    padding: 90px;
    margin: 0 auto;

    &-content {
      padding: 95px 0 90px 0;
    }

    &-header {

      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 30px;

      p {
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 700;
        color: #8A53FF;

      }

      span {
        font-family: "Changa One";
        font-size: 39px;
        color: #434343;
      }

      &-block {
        padding: 30px;
        background-color: #FFFFFF;

        span {
          font-family: "Changa One";
          font-size: 24px;
          font-weight: 400;
          line-height: 36px;
          color: #434343;
        }

        p {
          font-family: "Roboto";
          font-size: 18px;
          font-weight: 400;
          line-height: 34px;
          text-align: left;
          color: #576074;
          margin-bottom: 17px;

        }
      }

    }


    textarea {
      height: 102px;
      width: 100%;
      max-width: 537px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      margin-bottom: 17px;

      &::placeholder {
        font-family: "Roboto";
      }
    }

    input {
      height: 56px;
      width: 100%;
      max-width: 537px;
      padding: 0 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;

      &:focus {
        border-color: #8A53FF;
      }
    }

    label {
      position: absolute;
      top: 10px;
      left: 10px;
      color: #999;
      transition: 0.2s;
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-size: 16px;
      color: #434343;
    }

    select {
      height: 56px;
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      margin-bottom: 10px;

      &:focus {
        border-color: #8A53FF;
      }
    }

    button {
      background-color: #8A53FF;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 46px;
      width: 222px;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: #7a47d1;
      }
    }
  }


}