.footer{
    max-width: 1140px;
    width: 100%;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    font-family: "Roboto";
    font-size: 14px;
    color: #939EB4;
    &-right {
        display: flex;

        p {
          margin-left: 25px;
        }
      }
}