@font-face {
    font-family: "Black Signature";
    src: url("./../fonts/BlackSignaturePersonalUseOnlyRegular.otf");
}

@font-face {
    font-family: "Changa One";
    src: url("./../fonts/ChangaOne-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("./../fonts/Roboto-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    max-width: 1200px;
    margin: 0 auto;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;


    &_navbar {
        max-width: 457px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px 0;
        height: 19px;
        gap: 14.13px;
    }

    &_block-link {
        width: 100%;
        color: #495367;
        display: flex;
        gap: 14.13px;
        align-items: center;
        font-family: "Roboto";

        ul {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        li {
            list-style-type: none;
        }

        a {
            text-decoration: none;
        }
    }
}

.block-logo {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    p {
        font-family: "Black Signature";
    }

    span {
        font-family: "Changa One";
        font-size: 24px;
        color: #8A53FF;
    }
}

.block-img {
    display: flex;  
    gap: 14.13px;
    list-style-type: none;
}

hr{
    width: 1px;
    height: 24px;
    background-color: #EEEEEE;
    border: none;
}

.hero_background{
    width: 100%;
    background-image: url("./../img/hero-bg.webp");
    background-repeat: no-repeat;                  
    background-size: cover;                       
    position: relative;
    

    &::after {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #FFFFFF -0.92%, rgba(255, 255, 255, 0) 75.6%);
    }
}

.hero-text{
    justify-content: left;
    font-family: Roboto;
    font-size: 22px;
    color: #434343;
    line-height: 36px;

    span{
        font-family: "Changa One";
        color: #8A53FF;
        font-size: 73px;
        line-height: 1.15;
    }

    p{
        line-height: 1.15;
        font-family: "Changa One";
        font-size: 73px;
        margin-bottom: 12px;
    }

}
.hero-container{
    position: relative;
    z-index: 2;
    padding: 124px 0;
    max-width: 1160px;
    margin: 0 auto;
}

.hero-button {
    margin-top: 34px;
    display: flex;
    align-items: center;
    text-align: center;

    button{
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 400;
        line-height: 18.75px;
        color: #ffffff;

        background-color: #8A53FF;
        border-radius: 4px;
        border: none;
        padding: 14px 0;
        width: 165px;
    }

    span{
        cursor: pointer;
        margin-left: 10px;
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 400;
        color: #434343;
    }

    img{
        cursor: pointer;
        height: 36px;
        width: 36px;
        margin-left: 24px;
    }
}

.featured{


    &-container {
        padding: 107px 0;
        max-width: 1160px;
        width: 100%;
    }
    
    &-content {
        display: flex;
        justify-content: space-between;
    }

    &-blurb {
        padding: 30px;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 520px;
        line-height: 1.8;
        color: #434343;
        font-family: "Roboto";

    img{
        width: 46.5%;
    }

    span{
        color: #8A53FF;
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 700;
    }
    p{
        font-family: "Changa One";
        font-size: 39px;
        display: flex;
    }

    div{
        display: flex;
        align-items: center;
        width: 144px;
        height: 36px;
        margin-top: 24px;


        img{
            width: 36px;
            height: 36px;
            padding-right: 12px;

        }
        span{
            font-family: "Roboto";
            font-size: 16px;
            font-weight: 400;
        }
        

    }
    
    }

}

.discover{
    &-container{
        p{
            font-family: "Roboto";
            font-size: 18px;
            font-weight: 700;
            line-height: 21.09px;
            letter-spacing: 0.06em;
            text-align: center;
            color:#8A53FF;
        }
        span{
            font-family: "Changa One";
            font-size: 39px;
            font-weight: 400;
            line-height: 40px;
            text-align: center;
        }
        
    }

    &-content{
        padding: 24px ;

    }
    
    &-title{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 48px;
        font-size: 39px;
        p{
            margin-bottom: 8px;
        }

    }
   
    &-location{
        display: flex;

        &-content{
            display: flex;
            flex-direction: column;
            padding: 16px;
        
            img{
                display: flex;
                width: 100%;
            }

            span{
                font-family: "Changa One";
                font-size: 24px;
                font-weight: 400;
                line-height: 36px;
                color:#434343;
            }

            p{
                font-size: 16px;
                font-weight: 400;

            }
        }
    }
}

.share_travel{
    &-background{
        background: url(../img/ShareYourTravelBG.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        display: flex;

    }
    &-form{
        max-width: 617px;
        width: 100%;
        padding: 90px;
        margin: 0 auto;

        &-content{
            padding: 95px 0 90px 0;
        }

        &-header{

            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 30px;

            p{
                font-family: "Roboto";
                font-size: 18px;
                font-weight: 700;
                color: #8A53FF;

            }

            span{
                font-family: "Changa One";
                font-size: 39px;
                color: #434343;
            }

            &-block{
                padding:30px;
                background-color: #FFFFFF;

                span{
                    font-family: "Changa One";
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 36px;
                    color:#434343;
                }
                p{
                    font-family: "Roboto";
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 34px;
                    text-align: left;
                    color: #576074;
                    margin-bottom: 17px;

                }
            }

        }


            textarea {
                height: 102px;
                width: 100%;
                max-width: 537px;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 16px;
                margin-bottom: 17px;
                &::placeholder {
                    font-family: "Roboto";
                }
            }
            input {
                height: 56px;
                width: 100%;
                max-width: 537px;
                padding: 0 10px;
                margin-bottom: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 16px;

                &:focus {
                    border-color: #8A53FF;
                }
            }
            label {
                position: absolute;
                top: 10px;
                left: 10px;
                color: #999;
                transition: 0.2s;
            }
   
            label {
                display: block;
                margin-bottom: 5px;
                font-size: 16px;
                color: #434343;
            }

            select {
                height: 56px;
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 16px;
                margin-bottom: 10px;

                &:focus {
                    border-color: #8A53FF;
                }
            }

        button {
            background-color: #8A53FF;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 46px;
            width: 222px;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;

            &:hover {
                background-color: #7a47d1;
            }
        }
    }


}


.recent_stories{
    &-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 83px;
        padding-bottom: 30px;

        span{
            font-family: "Roboto";
            font-size: 18px;
            font-weight: 700;
            line-height: 21.09px;
            color:#8A53FF;
            margin-bottom: 15px;
        }

        p{
            font-family: "Changa One";
            font-size: 39px;
            font-weight: 400;
            line-height: 40px;
            color:#434343;

        }
    }

    &-block{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        
            
        &-left{
            max-width: 600px;
            img{
                width: 100%; 
                height: auto;
                border-radius: 8px;
                margin-bottom: 14px;
            }

            &-disc{
                
                span{
                    font-family: "Changa One";
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 36px;
                    color: #434343;                    
                } 

                p{
                    font-family: "Roboto";
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                }  
                
                img{
                    width: 48.87px;
                    height: 48px;
                    

                }
            }
        }

        &-right{
            max-width: 600px;
            width: 100%;
            display: flex;
            flex-direction: column;

            &-part{
                background-color: #F9F9F9;
                border-radius: 8px;
                padding: 10px 11px;
                margin-bottom: 16px;
                display: flex;
                font-family: "Roboto";

                &-text{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 20px;
                    color: #576074;
                    font-family:"Roboto";


                    p{
                        display: contents;
                        color:#7a47d1;
                        font-family: "Roboto";
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 26px;
                        text-align: left;
                    }

                    span{
                        font-family: "Changa One";
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 36px;
                        margin-bottom: 6px;
                        color: #434343;
                    }
                }

                img{
                    width: 200px;
                }
            }

        }
    }
    
}