@font-face {
  font-family: "Black Signature";
  src: url("/fonts/BlackSignaturePersonalUseOnlyRegular.otf");
}
@font-face {
  font-family: "Changa One";
  src: url("/fonts/ChangaOne-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_navbar {
  max-width: 457px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 0;
  height: 19px;
  gap: 14.13px;
}
.header_block-link {
  width: 100%;
  color: #495367;
  display: flex;
  gap: 14.13px;
  align-items: center;
  font-family: "Roboto";
}
.header_block-link ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header_block-link li {
  list-style-type: none;
}
.header_block-link a {
  text-decoration: none;
}

.block-logo {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}
.block-logo p {
  font-family: "Black Signature";
}
.block-logo span {
  font-family: "Changa One";
  font-size: 24px;
  color: #8A53FF;
}

.block-img {
  display: flex;
  gap: 14.13px;
  list-style-type: none;
}

hr {
  width: 1px;
  height: 24px;
  background-color: #EEEEEE;
  border: none;
}

.hero_background {
  width: 100%;
  background-image: url("../img/hero-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero_background::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #FFFFFF -0.92%, rgba(255, 255, 255, 0) 75.6%);
}

.hero-text {
  justify-content: left;
  font-family: Roboto;
  font-size: 22px;
  color: #434343;
  line-height: 36px;
}
.hero-text span {
  font-family: "Changa One";
  color: #8A53FF;
  font-size: 73px;
  line-height: 1.15;
}
.hero-text p {
  line-height: 1.15;
  font-family: "Changa One";
  font-size: 73px;
  margin-bottom: 12px;
}

.hero-container {
  position: relative;
  z-index: 2;
  padding: 124px 0;
  max-width: 1160px;
  margin: 0 auto;
}

.hero-button {
  margin-top: 34px;
  display: flex;
  align-items: center;
  text-align: center;
}
.hero-button button {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  color: #ffffff;
  background-color: #8A53FF;
  border-radius: 4px;
  border: none;
  padding: 14px 0;
  width: 165px;
}
.hero-button span {
  cursor: pointer;
  margin-left: 10px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  color: #434343;
}
.hero-button img {
  cursor: pointer;
  height: 36px;
  width: 36px;
  margin-left: 24px;
}

.featured-container {
  padding: 107px 0;
  max-width: 1160px;
  width: 100%;
}
.featured-content {
  display: flex;
  justify-content: space-between;
}
.featured-blurb {
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 520px;
  line-height: 1.8;
  color: #434343;
  font-family: "Roboto";
}
.featured-blurb img {
  width: 46.5%;
}
.featured-blurb span {
  color: #8A53FF;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
}
.featured-blurb p {
  font-family: "Changa One";
  font-size: 39px;
  display: flex;
}
.featured-blurb div {
  display: flex;
  align-items: center;
  width: 144px;
  height: 36px;
}
.featured-blurb div img {
  width: 36px;
  height: 36px;
  padding-right: 12px;
}
.featured-blurb div span {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
}

.discover-container p {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #8A53FF;
}
.discover-container span {
  font-family: "Changa One";
  font-size: 39px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
}
.discover-content {
  padding: 24px;
}
.discover-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 48px;
  font-size: 39px;
}
.discover-location {
  display: flex;
  justify-content: center;
  align-items: center;
}
.discover-location-content {
  display: flex;
  flex-direction: column;
}
.discover-location-content img {
  display: flex;
  width: 100%;
  padding: 16px;
}
.discover-location-content span {
  font-family: "Changa One";
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}
.discover-location-content s {
  font-size: 16px;
  font-weight: 400;
}