@import "./footer";
@import "./header";
@import "./index/hero";
@import "./index/featured";
@import "./index/discover";
@import "./index/recent_stories";
@import "./index/share_travel";
@import "./story/blog_article";
@import "./story/callout";
@import "./story/highlight";

@font-face {
  font-family: "Black Signature";
  src: url("./../fonts/BlackSignaturePersonalUseOnlyRegular.otf");
}

@font-face {
  font-family: "Changa One";
  src: url("./../fonts/ChangaOne-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.container {
  max-width: 964px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

}