@font-face {
  font-family: "Black Signature";
  src: url("./../fonts/BlackSignaturePersonalUseOnlyRegular.otf");
}
@font-face {
  font-family: "Changa One";
  src: url("./../fonts/ChangaOne-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_navbar {
  max-width: 457px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 0;
  height: 19px;
  gap: 14.13px;
}
.header_block-link {
  width: 100%;
  color: #495367;
  display: flex;
  gap: 14.13px;
  align-items: center;
  font-family: "Roboto";
}
.header_block-link ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header_block-link li {
  list-style-type: none;
}
.header_block-link a {
  text-decoration: none;
}

.block-logo {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}
.block-logo p {
  font-family: "Black Signature";
}
.block-logo span {
  font-family: "Changa One";
  font-size: 24px;
  color: #8A53FF;
}

.block-img {
  display: flex;
  gap: 14.13px;
  list-style-type: none;
}

hr {
  width: 1px;
  height: 24px;
  background-color: #EEEEEE;
  border: none;
}

.hero_background {
  width: 100%;
  background-image: url("./../img/hero-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero_background::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #FFFFFF -0.92%, rgba(255, 255, 255, 0) 75.6%);
}

.hero-text {
  justify-content: left;
  font-family: Roboto;
  font-size: 22px;
  color: #434343;
  line-height: 36px;
}
.hero-text span {
  font-family: "Changa One";
  color: #8A53FF;
  font-size: 73px;
  line-height: 1.15;
}
.hero-text p {
  line-height: 1.15;
  font-family: "Changa One";
  font-size: 73px;
  margin-bottom: 12px;
}

.hero-container {
  position: relative;
  z-index: 2;
  padding: 124px 0;
  max-width: 1160px;
  margin: 0 auto;
}

.hero-button {
  margin-top: 34px;
  display: flex;
  align-items: center;
  text-align: center;
}
.hero-button button {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  color: #ffffff;
  background-color: #8A53FF;
  border-radius: 4px;
  border: none;
  padding: 14px 0;
  width: 165px;
}
.hero-button span {
  cursor: pointer;
  margin-left: 10px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  color: #434343;
}
.hero-button img {
  cursor: pointer;
  height: 36px;
  width: 36px;
  margin-left: 24px;
}

.featured-container {
  padding: 107px 0;
  max-width: 1160px;
  width: 100%;
}
.featured-content {
  display: flex;
  justify-content: space-between;
}
.featured-blurb {
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 520px;
  line-height: 1.8;
  color: #434343;
  font-family: "Roboto";
}
.featured-blurb img {
  width: 46.5%;
}
.featured-blurb span {
  color: #8A53FF;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
}
.featured-blurb p {
  font-family: "Changa One";
  font-size: 39px;
  display: flex;
}
.featured-blurb div {
  display: flex;
  align-items: center;
  width: 144px;
  height: 36px;
  margin-top: 24px;
}
.featured-blurb div img {
  width: 36px;
  height: 36px;
  padding-right: 12px;
}
.featured-blurb div span {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
}

.discover-container p {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #8A53FF;
}
.discover-container span {
  font-family: "Changa One";
  font-size: 39px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
}
.discover-content {
  padding: 24px;
}
.discover-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 48px;
  font-size: 39px;
}
.discover-title p {
  margin-bottom: 8px;
}
.discover-location {
  display: flex;
}
.discover-location-content {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.discover-location-content img {
  display: flex;
  width: 100%;
}
.discover-location-content span {
  font-family: "Changa One";
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #434343;
}
.discover-location-content p {
  font-size: 16px;
  font-weight: 400;
}

.share_travel-background {
  background: url(../img/ShareYourTravelBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
}
.share_travel-form {
  max-width: 617px;
  width: 100%;
  padding: 90px;
  margin: 0 auto;
}
.share_travel-form-content {
  padding: 95px 0 90px 0;
}
.share_travel-form-header {
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}
.share_travel-form-header p {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  color: #8A53FF;
}
.share_travel-form-header span {
  font-family: "Changa One";
  font-size: 39px;
  color: #434343;
}
.share_travel-form-header-block {
  padding: 30px;
  background-color: #FFFFFF;
}
.share_travel-form-header-block span {
  font-family: "Changa One";
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #434343;
}
.share_travel-form-header-block p {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  color: #576074;
  margin-bottom: 17px;
}
.share_travel-form textarea {
  height: 102px;
  width: 100%;
  max-width: 537px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 17px;
}
.share_travel-form textarea::placeholder {
  font-family: "Roboto";
}
.share_travel-form input {
  height: 56px;
  width: 100%;
  max-width: 537px;
  padding: 0 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.share_travel-form input:focus {
  border-color: #8A53FF;
}
.share_travel-form label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #999;
  transition: 0.2s;
}
.share_travel-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #434343;
}
.share_travel-form select {
  height: 56px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
}
.share_travel-form select:focus {
  border-color: #8A53FF;
}
.share_travel-form button {
  background-color: #8A53FF;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  width: 222px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.share_travel-form button:hover {
  background-color: #7a47d1;
}

.recent_stories-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 83px;
  padding-bottom: 30px;
}
.recent_stories-title span {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  color: #8A53FF;
  margin-bottom: 15px;
}
.recent_stories-title p {
  font-family: "Changa One";
  font-size: 39px;
  font-weight: 400;
  line-height: 40px;
  color: #434343;
}
.recent_stories-block {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.recent_stories-block-left {
  max-width: 600px;
}
.recent_stories-block-left img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 14px;
}
.recent_stories-block-left-disc span {
  font-family: "Changa One";
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #434343;
}
.recent_stories-block-left-disc p {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.recent_stories-block-left-disc img {
  width: 48.87px;
  height: 48px;
}
.recent_stories-block-right {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.recent_stories-block-right-part {
  background-color: #F9F9F9;
  border-radius: 8px;
  padding: 10px 11px;
  margin-bottom: 16px;
  display: flex;
  font-family: "Roboto";
}
.recent_stories-block-right-part-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  color: #576074;
  font-family: "Roboto";
}
.recent_stories-block-right-part-text p {
  display: contents;
  color: #7a47d1;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}
.recent_stories-block-right-part-text span {
  font-family: "Changa One";
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 6px;
  color: #434343;
}
.recent_stories-block-right-part img {
  width: 200px;
}

.footer {
  max-width: 1140px;
  width: 100%;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto";
  font-size: 14px;
  color: #939EB4;
}
.footer-right {
  display: flex;
}
.footer-right p {
  margin-left: 25px;
}